@import url('https://fonts.googleapis.com/css?family=Cabin');

* {
  font-family: 'Cabin', sans-serif;
}

body {
  padding-top: 24px;
  background-color: #ebfdffb8;
}

nav, h1, h2 {
  text-align: center;
}

nav a{
  text-decoration: none;
  padding: 4px;
  color: #EEC643;
}

nav a:hover, nav a:active, nav a:active{
  color: #C1A136;
}

h1{
  font-size: 2.4rem;
  color: #7B287D;
}

h2{
  color: #00AEC1;
}

.sensor {
  padding: 16px;
  border: solid #00AEC1;
  border-radius: 8px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  padding-top: 32px;
}

.sensor button {
  margin-top: 22px;
  font-size: 1rem;
  background-color: transparent;
  color: #7B287D;
  border: solid 2px;
  border-radius: 6px;
  cursor: pointer;
}

.sensor button:hover {
  background-color: #00AEC1;
}

.sensor input, .sensor button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
